#stats {
    padding-top: 50px;
    .header {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        color: white;
    }
    .diagrams {
        h3 {
            margin-top: 60px;
            font-weight: bold;
            text-align: center;
            font-size: 18px;
            color: white;
        }
    }
}