body {
    background-color: $bgr;
}

.main-header {
    .sidebar_button {
        a {
            .fas::before {
                color: $blue;
            }
        }
    }
    padding-right: 160px;
    height: 120px;
    background-color: $dark;
    .link, #navbarLocaleDropdown, .username {
        margin: 7px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 21px;
        padding: 20px 30px;
        border-radius: 40px;
        &:hover {
            text-decoration: none;
        }
    }
    .login {
        background-color: $accent;
    }
    .register, .username {
        background-color: $blue; 
    }
    .logo {
        margin-left: 15%;
        span {
            padding-left: 10px;
            color: $blue;
            font-size: 21px;
        }
    }
}

.main-sidebar{
    background-color: $bgr;
    a, p {
        color: white;
        &:hover {
            filter: brightness(0.7);
            text-decoration: none;
        }
    }
    
}

.main-footer {
    margin-top: 100px;
    background-color: $dark;
    color: white;
    border: none;
    text-align: center;
    padding: 10px;
    .footer_content {
        display: flex;
        justify-content: flex-end;
        .text {
            text-align: right;
            padding-right: 10px;
        }
    }
}

.content-wrapper {
    background-color: $bgr;
}

.card {
    margin-top: 30px;
}

.content-wrapper > .content {
    padding: 0;
    background-color: $bgr;
}